In [1]:
import json
import pandas as pd
from pathlib import Path

In [90]:
# path = "data/Biketown Raw Data/2017_03.csv"
# df = pd.read_csv(path)

In [38]:
directory = Path("data/Biketown Raw Data")
dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]

column_mapping = {
    'Start_Latitude': 'StartLatitude',
    'Start_Longitude': 'StartLongitude',
    'End_Latitude': 'EndLatitude',
    'End_Longitude': 'EndLongitude',
    'Distance_Miles_': 'DistanceMiles',
    'Distance_Miles': 'DistanceMiles',
}

for df in dfs:
    for col in df.columns:
        if col in column_mapping:
            df.rename(columns={col: column_mapping[col]}, inplace=True)

combined_df = pd.concat(dfs, ignore_index=True)
combined_df['BikeName'] = combined_df['BikeName'].str.lower().str.strip()
combined_df.dropna(how='all', inplace=True) 
combined_df.dropna(subset=["StartLongitude", "StartLatitude", "StartHub"], how='all', inplace=True) 
combined_df.dropna(subset=["EndLongitude", "EndLatitude", "EndHub"], how='all', inplace=True)

/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_27929/4157305944.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_27929/4157305944.py:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_27929/4157305944.py:2: DtypeWarning: Columns (12,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]

In [44]:
combined_df.groupby(['StartLatitude','StartLongitude']).count()

,,RouteID,PaymentPlan,StartHub,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,EndDate,EndTime,TripType,BikeID,BikeName,DistanceMiles,Duration,RentalAccessPath,MultipleRental
StartLatitude,StartLongitude,,,,,,,,,,,,,,,,,
45.302011,-121.744480,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1
45.353495,-122.610558,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1
45.368242,-122.601095,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1
45.375657,-122.601801,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1
45.377272,-122.594606,2,2,0,2,2,2,2,2,2,2,0,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45.639117,-122.762541,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1
45.640220,-122.793141,2,2,0,2,2,2,2,2,2,2,0,2,2,2,2,2,2
45.677095,-122.718480,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1
45.680503,-122.479187,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1
45.734094,-122.846574,1,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,1

In [37]:
combined_df[combined_df[['StartLatitude', 'StartLongitude', 'StartHub']].isna().all(axis=1)]

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,EndDate,EndTime,TripType,BikeID,BikeName,DistanceMiles,Duration,RentalAccessPath,MultipleRental
13093,4864512.0,Subscriber,NaN,NaN,NaN,10/16/2017,10:41,SW 11th at Main - Disabled,45.517480,-122.684565,12/31/1969,16:30,NaN,7313.0,0985 air trainer,0.0,NaN,keypad_rfid_card,False
15070,4906675.0,Subscriber,NaN,NaN,NaN,10/19/2017,13:00,SW Yamhill at Director Park,45.518981,-122.681269,10/19/2017,13:01,NaN,7171.0,0094 biketown,0.0,0:01:47,keypad_rfid_card,False
18321,4961721.0,Subscriber,NaN,NaN,NaN,10/24/2017,20:25,SW 12th at Clay,45.515074,-122.687030,10/24/2017,20:33,NaN,6785.0,0074 biketown,0.0,0:07:43,keypad,True
23264,5015063.0,Subscriber,NaN,NaN,NaN,10/29/2017,20:00,NW Glisan at 21st,45.526346,-122.694148,10/29/2017,20:05,NaN,6100.0,0616 biketown,0.0,0:05:34,keypad,False
64286,2773817.0,Subscriber,NaN,NaN,NaN,5/3/2017,12:57,SE Elliott at Division,45.505125,-122.653368,5/3/2017,12:58,NaN,7231.0,0425 biketown,0.0,0:01:10,keypad,False
68471,2797935.0,Casual,NaN,NaN,NaN,5/6/2017,17:38,NW 23rd at Overton,45.532116,-122.698630,5/6/2017,18:05,NaN,6253.0,0753 biketown,0.0,0:26:05,keypad,False
79674,2907378.0,Subscriber,NaN,NaN,NaN,5/19/2017,8:32,NW 13th at Marshall,45.530804,-122.684423,5/19/2017,8:41,NaN,6342.0,0064 biketown,0.0,0:09:11,keypad,True
83238,2926741.0,Casual,NaN,NaN,NaN,5/21/2017,7:16,SW 5th at Oak,45.521173,-122.676365,5/21/2017,7:31,NaN,7339.0,1001 air safari,0.0,0:15:21,keypad,False
96237,3008130.0,Subscriber,NaN,NaN,NaN,5/28/2017,19:21,NW Thurman at 24th,45.535504,-122.700661,5/28/2017,19:28,NaN,7138.0,0245 biketown,0.0,0:06:26,keypad,False
112861,5271543.0,Subscriber,NaN,NaN,NaN,11/28/2017,17:55,NW Broadway at Everett,45.525079,-122.677556,11/28/2017,17:52,NaN,6302.0,0395 biketown,0.0,NaN,keypad,False
118140,3449694.0,Subscriber,NaN,NaN,NaN,7/3/2017,5:54,SE 34th at Division,45.504839,-122.629631,1/5/2080,16:00,NaN,7344.0,1027 air safari,0.0,547955:05:27,keypad,False
122275,3476175.0,Casual,NaN,NaN,NaN,7/4/2017,21:25,NW 2nd at Everett,45.525367,-122.672546,7/4/2017,21:40,NaN,6601.0,0312 biketown,0.0,0:15:39,keypad,False
146902,3679316.0,Casual,NaN,NaN,NaN,7/19/2017,20:37,SW 5th at Morrison,45.518895,-122.677406,7/19/2017,20:39,NaN,6779.0,0218 biketown,0.0,0:01:55,keypad,False
152137,3719492.0,Casual,NaN,NaN,NaN,7/22/2017,15:09,N Mississippi at Beech,45.549986,-122.675657,7/22/2017,15:14,NaN,7160.0,0131 biketown,0.0,0:04:51,keypad,False
152739,3721616.0,Subscriber,NaN,NaN,NaN,7/22/2017,18:46,N Mississippi at Beech,45.549986,-122.675657,7/22/2017,18:49,NaN,7160.0,0131 biketown,0.0,0:03:01,keypad,False
152919,3722341.0,Casual,NaN,NaN,NaN,7/22/2017,20:25,NW Marshall at Tanner Springs Park,45.530831,-122.681596,7/22/2017,20:29,NaN,7354.0,0998 air safari,0.0,0:03:30,keypad,False
218860,3057198.0,Subscriber,NaN,NaN,NaN,6/1/2017,22:19,SW Morrison at 18th,45.521960,-122.689677,6/1/2017,22:21,NaN,6275.0,0826 biketown,0.0,0:01:42,keypad,False
225688,3114226.0,Subscriber,NaN,NaN,NaN,6/6/2017,17:31,NW Kearney at 23rd,45.529142,-122.698703,6/6/2017,17:34,NaN,6201.0,0858 biketown,0.0,0:02:52,keypad,False
234471,3214507.0,Subscriber,NaN,NaN,NaN,6/14/2017,15:31,SW 5th at Morrison,45.518895,-122.677406,1/5/2080,16:00,NaN,6530.0,0039 biketown,0.0,548401:28:36,keypad,False
249924,3348842.0,Subscriber,NaN,NaN,NaN,6/25/2017,14:53,NE Holladay at MLK,45.529903,-122.662836,6/25/2017,15:11,NaN,7160.0,0131 biketown,0.0,0:17:42,keypad,False
251799,3365687.0,Subscriber,NaN,NaN,NaN,6/26/2017,20:18,N Mississippi at Beech,45.549986,-122.675657,1/5/2080,16:00,NaN,6432.0,0660 biketown,0.0,548108:41:18,keypad,True
252858,3379955.0,Subscriber,NaN,NaN,NaN,6/27/2017,17:53,SW Morrison at 18th,45.521960,-122.689677,6/27/2017,18:01,NaN,7160.0,0131 biketown,0.0,0:07:57,keypad,False
253390,3385387.0,Subscriber,NaN,NaN,NaN,6/28/2017,7:14,NW Flanders at 14th,45.525799,-122.685506,6/28/2017,7:19,NaN,6232.0,0870 biketown,0.0,0:05:04,keypad,False
307139,2419992.0,Subscriber,NaN,NaN,NaN,2/28/2017,18:10,Tilikum West at SW Moody,45.502768,-122.671441,2/28/2017,18:15,NaN,7303.0,0970 air trainer,0.0,0:04:50,keypad,False
826031,5450210.0,Subscriber,NaN,NaN,NaN,1/2/2018,19:10,NW 21st at Johnson,45.528268,-122.694562,1/2/2018,19:07,NaN,6158.0,0911 biketown lightbike,0.0,NaN,keypad,False
828169,5474768.0,Subscriber,NaN,NaN,NaN,1/8/2018,20:31,SW 10th at Columbia,45.515444,-122.684675,1/8/2018,20:33,NaN,6848.0,0548 biketown,0.0,0:02:25,mobile,False
1235233,4066336.0,Casual,NaN,NaN,NaN,8/16/2017,22:18,SW 3rd at Ankeny,45.522479,-122.673297,8/16/2017,22:35,NaN,7499.0,0782 biketown,0.0,0:16:34,keypad,False
1244607,4144518.0,Subscriber,NaN,NaN,NaN,8/22/2017,12:02,NW 18th at Northrup,45.531425,-122.689566,8/22/2017,12:09,NaN,6052.0,0494 biketown,0.0,0:06:57,keypad,False
1245571,4151059.0,Subscriber,NaN,NaN,NaN,8/22/2017,20:04,NW 13th at Marshall,45.530804,-122.684423,8/22/2017,20:06,NaN,6638.0,0334 biketown,0.0,0:01:50,keypad,False
1272206,4414709.0,Subscriber,NaN,NaN,NaN,9/10/2017,11:36,SW 4th at Jefferson (City Hall),45.515053,-122.678895,9/10/2017,11:42,NaN,6813.0,0823 biketown,0.0,0:05:37,keypad,False
1279079,4496743.0,Subscriber,NaN,NaN,NaN,9/15/2017,23:57,SW 3rd at Ankeny,45.522479,-122.673297,9/16/2017,0:09,NaN,7165.0,0092 biketown,0.0,0:11:42,keypad,False

In [103]:
combined_df['startCoords'] = combined_df.apply(lambda x: str(x['StartLatitude']) + str(x['StartLongitude']), axis=1)
combined_df['endCoords'] = combined_df.apply(lambda x: str(x['StartLatitude']) + str(x['StartLongitude']), axis=1)

In [104]:
srs = pd.concat([combined_df['startCoords'],combined_df['endCoords']]).value_counts()

In [105]:
counts_df = pd.DataFrame(srs)

In [108]:
counts_df[(counts_df['count'] > 100)]

                         count
45.51556831-122.6738924  58424
45.49913657-122.6716433  42356
45.50910258-122.6735169  38000
45.52487653-122.6965141  36724
45.53080401-122.6844227  36336
...                        ...
45.5048405-122.648675      102
45.5482349-122.6411208     102
45.5265119-122.6101824     102
45.5397983-122.6109434     102
45.5328261-122.6190206     102

[1341 rows x 1 columns]

In [106]:
combined_df

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,...,TripType,BikeID,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental,Distance_Miles_,startCoords,endCoords
0,4686114.0,Subscriber,NW 22nd at LoveJoy,45.529760,-122.696643,10/1/2017,0:05,NW Broadway at Everett,45.525079,-122.677556,...,NaN,6563.0,0642 biketown,1.51,0:13:04,keypad,False,NaN,45.52976024-122.6966429,45.52976024-122.6966429
1,4686153.0,Casual,NaN,45.522941,-122.688602,10/1/2017,0:17,SW 3rd at Ankeny,45.522479,-122.673297,...,NaN,6273.0,0057 biketown,0.78,0:05:11,keypad,False,NaN,45.5229406-122.6886019,45.5229406-122.6886019
2,4686156.0,Subscriber,NaN,45.521622,-122.682415,10/1/2017,0:18,SW Morrison at 18th,45.521960,-122.689677,...,NaN,7280.0,0026 biketown,0.43,0:03:58,keypad,False,NaN,45.5216215-122.6824147,45.5216215-122.6824147
3,4686164.0,Casual,SW Morrison at Pioneer Courthouse Sq.,45.519289,-122.679249,10/1/2017,0:21,NW 13th at Marshall,45.530804,-122.684423,...,NaN,6274.0,0819 biketown,1.02,0:11:30,keypad,False,NaN,45.51928859-122.6792488,45.51928859-122.6792488
4,4686166.0,Subscriber,NaN,45.531477,-122.684482,10/1/2017,0:22,NaN,45.536071,-122.685271,...,NaN,7112.0,0388 biketown,0.93,0:13:40,keypad_rfid_card,False,NaN,45.531477-122.6844821,45.531477-122.6844821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan,nannan
1294443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan,nannan
1294444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan,nannan
1294445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan,nannan
1294446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nannan,nannan

In [107]:
counts_df

                         count
45.51556831-122.6738924  58424
45.49913657-122.6716433  42356
45.50910258-122.6735169  38000
45.52487653-122.6965141  36724
45.53080401-122.6844227  36336
...                        ...
45.4960788-122.6534484       2
45.568972-122.6614012        2
45.4948153-122.5787706       2
45.5339574-122.9181596       2
45.5284015-122.6535725       2

[4355 rows x 1 columns]

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [97]:
combined_df[combined_df['BikeName'] == "0657 biketown"]

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,...,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental,Start_Latitude,Start_Longitude,End_Latitude,End_Longitude,Distance_Miles_
3407,4742287.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/5/2017,11:27,NaN,45.512882,-122.622926,...,0657 biketown,0.20,0:06:06,keypad,False,NaN,NaN,NaN,NaN,NaN
3439,4742643.0,Subscriber,NaN,45.512882,-122.622926,10/5/2017,11:52,NaN,45.516457,-122.629573,...,0657 biketown,0.53,0:08:28,keypad,False,NaN,NaN,NaN,NaN,NaN
3454,4742787.0,Subscriber,NaN,45.516457,-122.629573,10/5/2017,12:04,NaN,45.516581,-122.621751,...,0657 biketown,0.46,1:14:05,keypad,False,NaN,NaN,NaN,NaN,NaN
8896,4802039.0,Subscriber,NaN,45.516581,-122.621751,10/10/2017,17:30,SE Taylor at Chavez,45.514975,-122.623157,...,0657 biketown,0.13,0:02:34,keypad,False,NaN,NaN,NaN,NaN,NaN
9604,4814953.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/11/2017,20:33,NaN,45.512049,-122.622839,...,0657 biketown,0.22,0:03:29,keypad,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287150,4599411.0,Casual,SW 5th at Morrison,45.518895,-122.677406,9/24/2017,14:27,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,2.38,0:57:32,keypad,False,NaN,NaN,NaN,NaN,NaN
1287693,4602409.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,19:34,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,1.54,0:24:17,keypad,False,NaN,NaN,NaN,NaN,NaN
1287761,4602701.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,20:31,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,6.58,1:23:05,keypad,False,NaN,NaN,NaN,NaN,NaN
1288697,4617651.0,Subscriber,SW River at Montgomery,45.509103,-122.673517,9/25/2017,23:17,SW 3rd at Morrison,45.518039,-122.675582,...,0657 biketown,0.88,0:27:12,keypad,False,NaN,NaN,NaN,NaN,NaN
1293546,4684012.0,Casual,SW 3rd at Morrison,45.518039,-122.675582,9/30/2017,17:07,SE 9th at Belmont,45.516333,-122.656632,...,0657 biketown,1.52,0:11:36,keypad,False,NaN,NaN,NaN,NaN,NaN

In [96]:
combined_df.groupby(['BikeName'])['BikeID'].nunique()

BikeName
0001 biketown       1
0001 xm biketown    1
0002 biketown       1
0003 biketown       1
0003 xm biketown    1
                   ..
xc 0424 biketown    1
xc 0603 biketown    1
xc 0610 biketown    1
xc 0655 biketown    1
xm 0683 biketown    1
Name: BikeID, Length: 2298, dtype: int64

In [95]:
combined_df.groupby(['BikeID'])['BikeName'].nunique()

BikeID
5986.0     2
5987.0     2
5988.0     3
5989.0     2
5990.0     1
          ..
30041.0    2
33605.0    1
34802.0    1
35477.0    2
35537.0    2
Name: BikeName, Length: 1044, dtype: int64

In [68]:
combined_df[combined_df['BikeName'].astype(str) == "0006 biketown"]

Empty DataFrame
Columns: [RouteID, PaymentPlan, StartHub, StartLatitude, StartLongitude, StartDate, StartTime, EndHub, EndLatitude, EndLongitude, EndDate, EndTime, TripType, BikeID, BikeName, Distance_Miles, Duration, RentalAccessPath, MultipleRental, Start_Latitude, Start_Longitude, End_Latitude, End_Longitude, Distance_Miles_]
Index: []

[0 rows x 24 columns]

In [84]:
combined_df['BikeName'].str.lower().str.strip() == "0006 biketown"

0          False
1          False
2          False
3          False
4          False
           ...
1294442    False
1294443    False
1294444    False
1294445    False
1294446    False
Name: BikeName, Length: 1294447, dtype: bool

In [130]:
unique_strings = set()

for string in combined_df['BikeName']:
    for substr in str(string).split(" "):
        try:
            int(substr)
        except ValueError:
            unique_strings.add(substr)

In [131]:
unique_strings

{'',
 '(bike',
 '(lost',
 '(new)',
 '(quarantine-do',
 '-',
 '--',
 '-quarantine',
 '0253mss',
 '50th',
 'ability',
 'air',
 'aix',
 'alter',
 'american',
 'ascend',
 'at',
 'betrue',
 'bike',
 'bike,',
 'biketown',
 'biketown,',
 'black',
 'blazers',
 'broken',
 'bunyan',
 'but',
 'challenge',
 'city',
 'colorful',
 'controller',
 'custody',
 'cycling',
 'damaged)',
 'design',
 "explorin'",
 'explorinâ€™',
 'explorin’',
 'explorin‰ûª',
 'for',
 'found',
 'hbo',
 'heritage',
 'history',
 'hq',
 'in',
 'latinx',
 'lck',
 'life',
 'lightbike',
 'likely',
 'lost',
 'lst',
 'max',
 'month',
 'mss',
 'n',
 'nan',
 'native',
 'ne',
 'nike',
 'not',
 'nw',
 'on',
 'out',
 'parts',
 'paul',
 'pbot',
 'pdx',
 'police',
 'portland',
 'possible',
 'prt',
 'qrt',
 'quarantine',
 'recon',
 'reconnw',
 'rewrap',
 'rfs',
 'rider',
 'rip',
 'rma',
 'rmad',
 'rvr',
 'safari',
 'se',
 'service',
 'shop',
 'sneaker',
 'stl',
 'stl/lck',
 'stolen',
 'stolen)',
 'sw',
 'trainer',
 'veterans',
 'waiting',
 'wanderer',
 'waterfront',
 "women's",
 'womenâ€™s',
 'women’s',
 'wrap',
 'wrapped',
 'xc',
 'xc/',
 'xcm',
 'xm',
 'xmnative'}