In [5]:
import json
import pandas as pd
from pathlib import Path

In [18]:
directory = Path("data/Biketown Raw Data")
dfs = []
for file_path in directory.rglob('*'):
    print(file_path)
    dfs.append(pd.read_csv(file_path))

data/Biketown Raw Data/2017_10.csv
data/Biketown Raw Data/2017_04.csv
data/Biketown Raw Data/2019_01.csv
data/Biketown Raw Data/2017_05.csv
data/Biketown Raw Data/2017_11.csv
data/Biketown Raw Data/2017_07.csv
data/Biketown Raw Data/2019_02.csv
data/Biketown Raw Data/2019_03.csv
data/Biketown Raw Data/2017_12.csv
data/Biketown Raw Data/2017_06.csv
data/Biketown Raw Data/2019_07.csv
data/Biketown Raw Data/2017_02.csv
data/Biketown Raw Data/2017_03.csv

/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/861217229.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(file_path))

data/Biketown Raw Data/2019_06.csv
data/Biketown Raw Data/2019_12.csv
data/Biketown Raw Data/2019_04.csv
data/Biketown Raw Data/2019_10.csv
data/Biketown Raw Data/2017_01.csv
data/Biketown Raw Data/2019_11.csv
data/Biketown Raw Data/2019_05.csv
data/Biketown Raw Data/2018_09.csv
data/Biketown Raw Data/2018_08.csv
data/Biketown Raw Data/2016_09.csv
data/Biketown Raw Data/2020_08.csv
data/Biketown Raw Data/2016_08.csv
data/Biketown Raw Data/2018_03.csv
data/Biketown Raw Data/2016_12.csv
data/Biketown Raw Data/2020_07.csv
data/Biketown Raw Data/2020_06.csv
data/Biketown Raw Data/2016_07.csv
data/Biketown Raw Data/2018_02.csv
data/Biketown Raw Data/2016_11.csv
data/Biketown Raw Data/2020_04.csv
data/Biketown Raw Data/2020_05.csv
data/Biketown Raw Data/2016_10.csv
data/Biketown Raw Data/2018_01.csv
data/Biketown Raw Data/2018_05.csv
data/Biketown Raw Data/2018_11.csv
data/Biketown Raw Data/2020_01.csv
data/Biketown Raw Data/2018_10.csv
data/Biketown Raw Data/2018_04.csv
data/Biketown Raw Data/2018_12.csv
data/Biketown Raw Data/2018_06.csv
data/Biketown Raw Data/2020_02.csv
data/Biketown Raw Data/2020_03.csv
data/Biketown Raw Data/2018_07.csv
data/Biketown Raw Data/2019_08.csv
data/Biketown Raw Data/2019_09.csv
data/Biketown Raw Data/2017_08.csv
data/Biketown Raw Data/2017_09.csv

/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/861217229.py:5: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(file_path))
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/861217229.py:5: DtypeWarning: Columns (12,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs.append(pd.read_csv(file_path))

In [19]:
path = "data/Biketown Raw Data/2017_03.csv"
df = pd.read_csv(path)

'PaymentPlan'

In [36]:
i = 11
df.columns[i], df[df.columns[i]].dtype

('EndTime', dtype('O'))

In [85]:
directory = Path("data/Biketown Raw Data")
dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]
combined_df = pd.concat(dfs, ignore_index=True)
combined_df['BikeName'] = combined_df['BikeName'].str.lower().str.strip()

/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/944572260.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/944572260.py:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]
/var/folders/_z/q4gsch7n2jn4pky14jnx_2p80000gn/T/ipykernel_69993/944572260.py:2: DtypeWarning: Columns (12,18) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs = [pd.read_csv(file_path) for file_path in directory.rglob('*')]

In [86]:
combined_df

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,...,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental,Start_Latitude,Start_Longitude,End_Latitude,End_Longitude,Distance_Miles_
0,4686114.0,Subscriber,NW 22nd at LoveJoy,45.529760,-122.696643,10/1/2017,0:05,NW Broadway at Everett,45.525079,-122.677556,...,0642 biketown,1.51,0:13:04,keypad,False,NaN,NaN,NaN,NaN,NaN
1,4686153.0,Casual,NaN,45.522941,-122.688602,10/1/2017,0:17,SW 3rd at Ankeny,45.522479,-122.673297,...,0057 biketown,0.78,0:05:11,keypad,False,NaN,NaN,NaN,NaN,NaN
2,4686156.0,Subscriber,NaN,45.521622,-122.682415,10/1/2017,0:18,SW Morrison at 18th,45.521960,-122.689677,...,0026 biketown,0.43,0:03:58,keypad,False,NaN,NaN,NaN,NaN,NaN
3,4686164.0,Casual,SW Morrison at Pioneer Courthouse Sq.,45.519289,-122.679249,10/1/2017,0:21,NW 13th at Marshall,45.530804,-122.684423,...,0819 biketown,1.02,0:11:30,keypad,False,NaN,NaN,NaN,NaN,NaN
4,4686166.0,Subscriber,NaN,45.531477,-122.684482,10/1/2017,0:22,NaN,45.536071,-122.685271,...,0388 biketown,0.93,0:13:40,keypad_rfid_card,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# combined_df['BikeID'] = combined_df['BikeID'].stra
# combined_df['BikeName'] = combined_df['BikeName'].str.lower()
# combined_df['BikeID'] = combined_df['BikeID'].str.lower()

AttributeError: Can only use .str accessor with string values!

In [60]:
combined_df['BikeName'].astype(str)

0          0642 biketown
1          0057 biketown
2          0026 biketown
3          0819 biketown
4          0388 biketown
               ...
1294442              nan
1294443              nan
1294444              nan
1294445              nan
1294446              nan
Name: BikeName, Length: 1294447, dtype: object

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [88]:
combined_df.groupby(['BikeID','BikeName']).count()

                               RouteID  PaymentPlan  StartHub  StartLatitude  \
BikeID  BikeName
5986.0  0549 biketown             1180         1180       889           1093
        0549 pbot xm biketown        4            4         4              4
5987.0  0487 biketown             1250         1250       836           1130
        0487 mss biketown            9            9         9              9
5988.0  0696 biketown             1338         1338       960           1170
...                                ...          ...       ...            ...
34802.0 service controller 4         1            1         0              1
35477.0 0315 biketown              113          113        88            113
        0315 mss biketown            1            1         1              1
35537.0 0881 biketown               82           82        49             82
        0881 xc biketown             4            4         2              4

                               StartLongitude  StartDate  StartTime  EndHub  \
BikeID  BikeName
5986.0  0549 biketown                    1093       1180       1180     900
        0549 pbot xm biketown               4          4          4       4
5987.0  0487 biketown                    1130       1250       1250     891
        0487 mss biketown                   9          9          9       8
5988.0  0696 biketown                    1170       1338       1338     979
...                                       ...        ...        ...     ...
34802.0 service controller 4                1          1          1       0
35477.0 0315 biketown                     113        113        113      76
        0315 mss biketown                   1          1          1       0
35537.0 0881 biketown                      82         82         82      46
        0881 xc biketown                    4          4          4       0

                               EndLatitude  EndLongitude  ...  TripType  \
BikeID  BikeName                                          ...
5986.0  0549 biketown                 1093          1093  ...         2
        0549 pbot xm biketown            4             4  ...         0
5987.0  0487 biketown                 1130          1130  ...         1
        0487 mss biketown                9             9  ...         0
5988.0  0696 biketown                 1170          1170  ...         2
...                                    ...           ...  ...       ...
34802.0 service controller 4             1             1  ...         0
35477.0 0315 biketown                  113           113  ...         0
        0315 mss biketown                1             1  ...         0
35537.0 0881 biketown                   82            82  ...         0
        0881 xc biketown                 4             4  ...         1

                               Distance_Miles  Duration  RentalAccessPath  \
BikeID  BikeName
5986.0  0549 biketown                    1048      1177              1180
        0549 pbot xm biketown               0         4                 4
5987.0  0487 biketown                    1075      1239              1250
        0487 mss biketown                   0         9                 9
5988.0  0696 biketown                    1115      1337              1338
...                                       ...       ...               ...
34802.0 service controller 4                1         1                 1
35477.0 0315 biketown                      13       113               113
        0315 mss biketown                   1         1                 1
35537.0 0881 biketown                      32        82                82
        0881 xc biketown                    0         4                 4

                               MultipleRental  Start_Latitude  \
BikeID  BikeName
5986.0  0549 biketown                    1180              87
        0549 pbot xm biketown               4               0
5987.0  0487 biketown                    1250             120
        0487 mss biketown                   9               0
5988.0  0696 biketown                    1338             168
...                                       ...             ...
34802.0 service controller 4                1               0
35477.0 0315 biketown                     113               0
        0315 mss biketown                   1               0
35537.0 0881 biketown                      82               0
        0881 xc biketown                    4               0

                               Start_Longitude  End_Latitude  End_Longitude  \
BikeID  BikeName
5986.0  0549 biketown                       87            87             87
        0549 pbot xm biketown                0             0              0
5987.0  0487 biketown                      120           120            120
        0487 mss biketown                    0             0              0
5988.0  0696 biketown                      168           168            168
...                                        ...           ...            ...
34802.0 service controller 4                 0             0              0
35477.0 0315 biketown                        0             0              0
        0315 mss biketown                    0             0              0
35537.0 0881 biketown                        0             0              0
        0881 xc biketown                     0             0              0

                               Distance_Miles_
BikeID  BikeName
5986.0  0549 biketown                      132
        0549 pbot xm biketown                4
5987.0  0487 biketown                      175
        0487 mss biketown                    9
5988.0  0696 biketown                      223
...                                        ...
34802.0 service controller 4                 0
35477.0 0315 biketown                      100
        0315 mss biketown                    0
35537.0 0881 biketown                       50
        0881 xc biketown                     4

[2311 rows x 22 columns]

In [97]:
combined_df[combined_df['BikeName'] == "0657 biketown"]

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,...,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental,Start_Latitude,Start_Longitude,End_Latitude,End_Longitude,Distance_Miles_
3407,4742287.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/5/2017,11:27,NaN,45.512882,-122.622926,...,0657 biketown,0.20,0:06:06,keypad,False,NaN,NaN,NaN,NaN,NaN
3439,4742643.0,Subscriber,NaN,45.512882,-122.622926,10/5/2017,11:52,NaN,45.516457,-122.629573,...,0657 biketown,0.53,0:08:28,keypad,False,NaN,NaN,NaN,NaN,NaN
3454,4742787.0,Subscriber,NaN,45.516457,-122.629573,10/5/2017,12:04,NaN,45.516581,-122.621751,...,0657 biketown,0.46,1:14:05,keypad,False,NaN,NaN,NaN,NaN,NaN
8896,4802039.0,Subscriber,NaN,45.516581,-122.621751,10/10/2017,17:30,SE Taylor at Chavez,45.514975,-122.623157,...,0657 biketown,0.13,0:02:34,keypad,False,NaN,NaN,NaN,NaN,NaN
9604,4814953.0,Subscriber,SE Taylor at Chavez,45.514975,-122.623157,10/11/2017,20:33,NaN,45.512049,-122.622839,...,0657 biketown,0.22,0:03:29,keypad,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287150,4599411.0,Casual,SW 5th at Morrison,45.518895,-122.677406,9/24/2017,14:27,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,2.38,0:57:32,keypad,False,NaN,NaN,NaN,NaN,NaN
1287693,4602409.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,19:34,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,1.54,0:24:17,keypad,False,NaN,NaN,NaN,NaN,NaN
1287761,4602701.0,Casual,SW Salmon at Waterfront Park,45.515568,-122.673892,9/24/2017,20:31,SW Salmon at Waterfront Park,45.515568,-122.673892,...,0657 biketown,6.58,1:23:05,keypad,False,NaN,NaN,NaN,NaN,NaN
1288697,4617651.0,Subscriber,SW River at Montgomery,45.509103,-122.673517,9/25/2017,23:17,SW 3rd at Morrison,45.518039,-122.675582,...,0657 biketown,0.88,0:27:12,keypad,False,NaN,NaN,NaN,NaN,NaN
1293546,4684012.0,Casual,SW 3rd at Morrison,45.518039,-122.675582,9/30/2017,17:07,SE 9th at Belmont,45.516333,-122.656632,...,0657 biketown,1.52,0:11:36,keypad,False,NaN,NaN,NaN,NaN,NaN

In [96]:
combined_df.groupby(['BikeName'])['BikeID'].nunique()

BikeName
0001 biketown       1
0001 xm biketown    1
0002 biketown       1
0003 biketown       1
0003 xm biketown    1
                   ..
xc 0424 biketown    1
xc 0603 biketown    1
xc 0610 biketown    1
xc 0655 biketown    1
xm 0683 biketown    1
Name: BikeID, Length: 2298, dtype: int64

In [95]:
combined_df.groupby(['BikeID'])['BikeName'].nunique()

BikeID
5986.0     2
5987.0     2
5988.0     3
5989.0     2
5990.0     1
          ..
30041.0    2
33605.0    1
34802.0    1
35477.0    2
35537.0    2
Name: BikeName, Length: 1044, dtype: int64

In [68]:
combined_df[combined_df['BikeName'].astype(str) == "0006 biketown"]

Empty DataFrame
Columns: [RouteID, PaymentPlan, StartHub, StartLatitude, StartLongitude, StartDate, StartTime, EndHub, EndLatitude, EndLongitude, EndDate, EndTime, TripType, BikeID, BikeName, Distance_Miles, Duration, RentalAccessPath, MultipleRental, Start_Latitude, Start_Longitude, End_Latitude, End_Longitude, Distance_Miles_]
Index: []

[0 rows x 24 columns]

In [84]:
combined_df['BikeName'].str.lower().str.strip() == "0006 biketown"

0          False
1          False
2          False
3          False
4          False
           ...
1294442    False
1294443    False
1294444    False
1294445    False
1294446    False
Name: BikeName, Length: 1294447, dtype: bool